<div class="modal-content" id="created-category">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h5 class="modal-title"><b>Categoria criada com sucesso!</b></h5>
  </div>
  <div class="modal-body">
    <div class="table">
      <div class="table-row-group">
        <div class="table-cell" style="width:20%">
          <img src="icons/png/light-bulb.png" width="100%">
        </div>
        <div class="table-cell" style="padding-left:8px">
          <h5><b>Meus parabéns!!!</b></h5>
          Sua categoria foi criada com sucesso! Para visualizar as informações da mesma basta clicar sobre a opção de prosseguir!
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" ng-click="category_page(category)" class="btn btn-default">Prosseguir <i class="fa fa-coffee"></i></button>
  </div>
</div>
