<div class="container">
  <div class="about-us">
    <div class="row">
      <div class="col-sm-12">
        <div class="about-us-header">
          <h3><b>Quem somos?</b></h3>
          Seguem abaixo as informações referente aos desenvolvedores desta aplicação.
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:4px">
      <div class="col-sm-12">
        <div class="about-us-body">
          <img src="images/gilberto-giro.jpg" width="11%">
          <span class="developer-name"><b>Gilberto Giro Resende:</b></span><br>
          Estudande da Faculdade de Tecnologia de Jundiaí, é um iniciante no ramo da programação em busca de novas oportunidades de crescimento, tanto profissional, quanto
          pessoal. Foi o responsável pelo desenvolvimento da aplicação web, tanto no front-end, quanto no back-end. Seu principal objetivo foi o de criar uma aplicação intuitiva e interativa para suprir
          uma necessidade encontrada em sua faculdade.<br><br><br>
          <a href=""><i class="fa fa-google-plus-square" id="right" style="color:#C44D58"></i></a>
          <a href="https://www.linkedin.com/in/gilberto-r-992456120?trk=nav_responsive_tab_profile_pic" target="_blank"><i class="fa fa-linkedin-square" id="right"></i></a>
          <a href="https://www.facebook.com/gilberto.giro" target="_blank"><i class="fa fa-facebook-square" id="right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="footer">
    <div class="row">
      <div class="col-sm-3">
        <h4><b>Ícones e imagens:</b></h4>
        Todas as imagens encontradas aqui foram retiradas do seguinte site: <b>http://www.flaticon.com/</b><br>
        <div style="margin-top:3px">
          - Icons made by <a title="Flat Icons" href="http://www.flaticon.com/authors/flat-icons">Flat Icons</a> from <a title="Flaticon" href="http://www.flaticon.com">Flaticon</a>&nbsp;<br>
          - Icons made by <a title="Freepik" href="http://www.freepik.com">Freepik</a> from <a title="Flaticon" href="http://www.flaticon.com">Flaticon</a>&nbsp;<br>
          - Icons made by <a title="Eucalyp" href="http://www.flaticon.com/authors/eucalyp"> Eucalyp</a> from <a title="Flaticon" href="http://www.flaticon.com">Flaticon</a>&nbsp;<br>
          - Icons made by <a title="Popcorns Arts" href="http://www.flaticon.com/authors/popcorns-arts">Popcorns Arts</a> from <a title="Flaticon" href="http://www.flaticon.com">Flaticon</a>&nbsp;
        </div>
      </div>
      <div class="col-sm-3">
        <h4><b>Quem somos?</b></h4>
        Para entrar em contato conosco, basta enviar uma mensagem para <b>gilberto.giro.resende@gmail.com</b> ou então enviar uma mensagem
        de texto para o número <b>(11)97565-4389</b>.
      </div>
      <div class="col-sm-3">
        <h4><b>Informações do aplicativo</b></h4>
        Para visualizar as informações mais específicas da aplicação, basta <a href="">clicar aqui</a>. Nesta página você pode visualizar informações como,
        tecnologias utilizadas, documentação da aplicação, manual de uso, etc.
      </div>
      <div class="col-sm-3" id="icons-bottom">
        <div class="text-left">
          <h4><b>Compartilhe com os amigos:</b></h4>
          Por favor, assim que possível, compartilhe nossa aplicação com seus amigos para que ela passe a atingir um público considerável
          de estudantes para que possamos criar um ambiente de estudos bem estruturado.
        </div>
        <a href="" class="i-color"><i class="fa fa-facebook-square"></i></a>
        <a href="" class="i-color"><i class="fa fa-google-plus-square"></i></a>
        <a href="" class="i-color"><i class="fa fa-github"></i></a>
      </div>
    </div>
  </div>
</div>
