<div class="container">
  <div class="common-questions">
    <div class="row">
      <div class="col-sm-12">
        <div class="common-questions-header">
          <h3><b>Perguntas frequentes:</b></h3>
          Disponibilizamos aqui uma sequência de perguntas que temos visualizado com uma frequência bem alta com o intuito de sanar essas dúvidas sem a necessidade de um suporte.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="common-questions-body">
          <details open>
            <summary>O que são essas <b>categorias</b>?</summary>
            <p>Elas podem ser definidas resumidamente como áreas de estudo, ou até mesmo como matérias a serem estudadas. É basicamente o conteúdo do qual deseja-se comentar.</b></p>
          </details>
          <details open>
            <summary>Como efetuar perguntas?</summary>
            <p>Em primeiro lugar, é importantíssimo lembrar que os usuários que não possuem uma conta em nossa aplicação não tem a capacidade de efetuar perguntas em nenhuma categoria. Porém, para aqueles
            que já possuem uma conta registrada, basta entrar na categoria para com a qual deseja efetuar sua pergunta e em seguida clicar em <b>Cadastrar Pergunta</b>.</b></p>
          </details>
          <details open>
            <summary>A aplicação possui algum sistema de filtro?</summary>
            <p>Sim, possuímos diversos filtros que estão disponibilizados nas principais páginas. Com eles, fica extremamente mais fácil encontrar as suas categorias favoritas, ou até mesmo encontrar com rapidez
            as questões que deseja visualizar.</p>
          </details>
          <details open>
            <summary>Eu consigo visualizar respostas de outros usuários sem ter uma conta?</summary>
            <p>Sim, basicamente nós criamos um sistema onde as pessoas que não possuem um cadastro em nossa aplicação tem a capacidade de visualizar as perguntas e respostas enviadas por usuários, ou seja, independentemente
            do usuário ter um cadastro ou não, este poderá ver as perguntas/respostas cadastradas em nosso sistema. Porém, é importante constar que apenas aqueles que possuem uma conta em nossa aplicação conseguem enviar perguntas
            referentes a alguma categoria.</b></p>
          </details>
          <details open>
            <summary>Por que usuários que não possuem um cadastro não podem enviar perguntas?</summary>
            <p>Criamos o sistema dessa maneira mais por uma questão de segurança, pois como já é de nosso conhecimento, muitas vezes temos pessoas mal-intencionadas que nem sempre querem se utilizar de nossa aplicação para usufruir de
            suas utilidades, mas sim para causar transtornos. Então, o que pensamos foi basicamente em criar um sistema onde as pessoas que não possuem um cadastro tem a capacidade de visualizar as perguntas/respostas cadastradas em nosso
            sistema, mas de certa forma, não tem a capacidade de interagir com as mesmas sem criar uma conta.</b></p>
          </details>
          <details open>
            <summary>Quanto tempo dura uma categoria?</summary>
            <p>As categorias não possuem uma validade pré-definida, ou seja, elas ficam ativas por tempos indeterminados.</b></p>
          </details>
          <details open>
            <summary>Como eu acompanho quantas pessoas e quantas postagens eu tenho em minha categoria?</summary>
            <p>Dentro de sua página de perfil, disponibilizamos um sistema de contagem referente a essas informações. Esses contadores sempre estão atualizados, o que faz com que esse acompanhamento seja totalmente eficaz e simples de ser efetuado.</b></p>
          </details>
          <details open>
            <summary>Eu recebo alertas referentes a mensagens que foram cadastradas em minha categoria?</summary>
            <p>Sim, disponibilizamos um sistema de inbox onde você tem a capacidade de visualizar a quantidade de perguntas que foram cadastradas dentro de sua categoria.</b></p>
          </details>
          <details open>
            <summary>Quantas categorias um usuário pode ter?</summary>
            <p>Bem, nosso sistema foi construído de forma a não ter uma quantidade limitada de categorias por usuário, porém é importante citar que nosso sistema não permite duplicidades, ou seja, uma vez que uma categoria já exista, nenhuma outra
            referente a esse mesmo assunto poderá ser criada.</b></p>
          </details>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="footer">
    <div class="row">
      <div class="col-sm-3">
        <h4><b>Requisitar o suporte:</b></h4>
        Caso esteja com dificuldades para utilizar o sistema, basta <a href="">clicar aqui</a> e requisitar o suporte. Lembre-se de que
        você também pode requisitar ajuda através do e-mail: gilberto.giro.resende@gmail.com. Estamos aqui para lhe ajudar com suas dificuldades.
      </div>
      <div class="col-sm-3">
        <h4><b>Quem somos?</b></h4>
        Para entrar em contato conosco, basta enviar uma mensagem para <b>gilberto.giro.resende@gmail.com</b> ou então enviar uma mensagem
        de texto para o número <b>(11)97565-4389</b>.
      </div>
      <div class="col-sm-3">
        <h4><b>Informações do aplicativo</b></h4>
        Para visualizar as informações mais específicas da aplicação, basta <a href="">clicar aqui</a>. Nesta página você pode visualizar informações como,
        tecnologias utilizadas, documentação da aplicação, manual de uso, etc.
      </div>
      <div class="col-sm-3" id="icons-bottom">
        <div class="text-left">
          <h4><b>Compartilhe com os amigos:</b></h4>
          Por favor, assim que possível, compartilhe nossa aplicação com seus amigos para que ela passe a atingir um público considerável
          de estudantes para que possamos criar um ambiente de estudos bem estruturado.
        </div>
        <a href="" class="i-color"><i class="fa fa-facebook-square"></i></a>
        <a href="" class="i-color"><i class="fa fa-google-plus-square"></i></a>
        <a href="" class="i-color"><i class="fa fa-github"></i></a>
      </div>
    </div>
  </div>
</div>
