<div class="container">
  <div class="screen_size_error">
    <img src="icons/png/computer.png" width="125px">
    <h3><b>Tamanho de tela inválido!</b></h3>
    <p>Lamentamos informar que por enquanto nossa aplicação não está disponível para dispositivos com <b>width</b> menor que <b>1024px</b>. Estamos trabalhando para disponibiliza-la em todos os dispositivos e caso você queira,
    pode acompanhar nosso trabalho através de nosso repositório no <b>GitHub</b>.</p>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="screen_size_error_footer">
      <div class="col-sm-8">
        <h4><b>Deseja nos ajudar com o projeto?</b></h4>
        Caso você queira nos ajudar com o desenvolvimento de nosso projeto e/ou visualizar o andamento do mesmo, basta <a href="">clicar aqui</a> que te levaremos até o nosso repositório no <b>GitHub</b>. Porém, caso você queira contribuir de uma
        outra forma sem ser com o desenvolvimento, uma outra possibilidade é a de ajudar a aplicação através do compartilhamento do conteúdo para seus amigos, companheiros e colegas de faculdade.
      </div>
    </div>
  </div>
</div>
